<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/AergloTechnologies/index.json" />
    </packageSources>

    <packageSourceCredentials>
        <github>
            <add key="Username" value="build-aerglo" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>
