<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/AergloTechnologies/index.json" />
    </packageSources>

    <packageSourceCredentials>
        <github>
            <add key="Username" value="build-aerglo" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>
