<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/build-aerglo/index.json" />
    </packageSources>

    <packageSourceCredentials>
        <github>
            <add key="Username" value="build-aerglo" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>
